@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Trocchi&display=swap");

#border {
  border: 2px #37667e solid;
  width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
/*main content*/

#main2 img {
  width: 400px;
}
/*content, about*/
#main2 {
  margin: auto;
  width: 71em;
  padding: 2em;
  background-color: #fcfcfc;
  border: 2px #37667e solid;
  font-family: "Open Sans", sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px;
}
.grid-item {
  margin-top: 20px;
}
.grid-item p {
  width: 600px;
}
h3 {
  font-size: 20px;
  font-family: "Trocchi", serif;
  color: #37667e;
}
h2 {
  width: 10em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: "Trocchi", serif;
  color: #37667e;
}

#resources {
  display: grid;
  grid-template-columns: auto auto auto;
}

#resources p {
  width: 350px;
}
#resources a {
  color: #37667e;
}
#resources a:hover {
  text-decoration: underline;
}
h4 {
  font-family: "Trocchi", sans-serif;
  color: #37667e;
}
form {
  width: 500px;
  margin-top: 20px;
}
input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 8px;
}
input[type="submit"] {
  padding: 10px;
  background-color: #a4cce3;
  color: #37667e;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border-radius: 3px;
  margin-top: 15px;
}

/*footer*/
#footer {
  text-align: center;
  padding: 50px;
}

/*Mobile*/
.mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  #wrapper {
    display: none;
  }
  .mobile {
    display: block;
    text-align: center;
  }
  .logo-m {
    width: 8em;
  }
  .mobile p {
    width: 25em;
    margin: 0 auto;
  }
  .social-m {
    width: 11em;
    margin: 0 auto;
    padding: 0.5em;
  }
  .social-m img {
    width: 2em;
  }
  .content img {
    width: 15em;
  }
  .mission {
    margin-top: 20px;
    text-align: left;
  }
  .mission h3 {
    margin-left: 3em;
  }
  form {
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .resources-m img {
    width: 250px;
  }
  .resources-m h4,
  .resources-m h3 {
    margin-top: 20px;
  }
}
