@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Trocchi&display=swap");

#border {
  border: 2px #7b92aa solid;
  background-color: #fcfcfc;
  width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
/*main content*/

#main2 img {
  width: 300px;
  margin-top: 20px;
}
/*content, about*/
#main2 {
  margin: auto;
  width: 71em;
  padding: 2em;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px;
}

.grid-item {
  margin-top: 40px;
}
.grid-item li {
  display: block;
  padding: 5px;
  margin-left: 20px;
  width: 600px;
}
#main2 ol {
  margin-top: 10px;
  list-style-type: circle;
}
li {
  margin: 10px;
}
.sub {
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
}

#main2 a:hover {
  text-decoration: underline;
}

#main2 h2 {
  width: 20em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-family: "Trocchi", serif;
  color: #37667e;
}
h3 {
  font-size: 20px;
  font-family: "Trocchi", serif;
  color: #37667e;
}
h4 {
  font-family: "Trocchi", serif;
  color: #37667e;
  font-size: 18px;
  margin-top: 15px;
}
p {
  width: 600px;
  margin-top: 15px;
}
a {
  color: #37667e;
}
#resources {
  display: grid;
  grid-template-columns: auto auto auto;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

/*footer*/
#footer {
  text-align: center;
  padding: 50px;
}

/*Mobile*/
.mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  #wrapper {
    display: none;
  }
  .mobile {
    display: block;
    text-align: center;
  }
  .mobile a:hover {
    text-decoration: underline;
  }
  .logo-m {
    width: 8em;
  }
  .mobile p {
    width: 25em;
    margin: 0 auto;
    text-align: left;
    padding: 5px;
  }
  .mobile ol {
    width: 25em;
    margin: 0 auto;
    text-align: left;
    list-style-type: circle;
  }
  .mobile .sub {
    margin-left: 20px;
    list-style-type: circle;
  }
  .mobile table {
    width: 25em;
    margin: 0 auto;
  }
  .mobile h4 {
    width: 25em;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
  }
  .social-m {
    width: 11em;
    margin: 0 auto;

    padding: 0.5em;
  }
  .social-m img {
    width: 2em;
  }

  .hide {
    max-height: 0 !important;
  }
  .dropdown {
    background: #dec4d6;
    width: 100%;
    margin-bottom: 1em;
    height: 60px;
    color: #37667e;
  }
  .dropdown .title {
    margin: 0 auto;
    font-size: 20px;
    padding-top: 18px;
    font-family: "Trocchi", serif;
    width: 100%;
  }
  .dropdown .title:hover {
    text-decoration: underline;
  }

  .dropdown .menu {
    transition: max-height 0.5s ease-out;
    max-height: 30em;
    background-color: #dec4d6;
    overflow: hidden;
    position: relative;
  }
  .dropdown .menu .option {
    margin: 10px;
  }
  .dropdown .menu .option:hover {
  }
  .dropdown .menu a {
    font-size: 20px;
    color: #37667e;
  }
  .pointerCursor:hover {
    cursor: pointer;
  }
  .rotate-90 {
    transform: rotate(90deg);
  }

  .content img {
    width: 15em;
  }
}
