#border {
  border: 2px black solid;
  width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

#main {
  margin: auto;
  width: 71em;
  padding: 2em;
  background-color: #a7a7a7;
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border-bottom: 2px black solid;
}
.grid-item p {
  width: 500px;
  margin: 20px;
}
h2 {
  font-size: 20px;
}
.learn {
  padding: 10px;
}

#main img {
  width: 300px;
}
/*content*/

.grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px;
}

/*footer*/
#footer {
  text-align: center;
  padding: 50px;
}

/*Mobile*/

.mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  #wrapper {
    display: none;
  }
  .mobile {
    display: block;
    text-align: center;
  }
  .logo-m {
    width: 5em;
  }
  .mobile p {
    width: 25em;
    margin: 0 auto;
  }
  .social-m {
    width: 11em;
    margin: 0 auto;

    padding: 0.5em;
  }
  .social-m img {
    width: 2em;
  }

  .hide {
    max-height: 0 !important;
  }
  .dropdown {
    background: #a7a7a7;
    width: 100%;
    margin-bottom: 1em;
    height: 60px;
    color: white;
  }
  .dropdown .title {
    margin: 0 auto;
    font-size: 20px;
    padding-top: 18px;
  }
  .dropdown .title:hover {
    color: black;
    text-decoration: underline;
  }

  .dropdown .menu {
    transition: max-height 0.5s ease-out;
    max-height: 30em;

    background-color: #a7a7a7;
    overflow: hidden;
    position: relative;
  }
  .dropdown .menu .option {
    margin: 10px;
  }
  .dropdown .menu .option:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  .dropdown .menu a {
    font-size: 20px;
  }
  .pointerCursor:hover {
    cursor: pointer;
  }
  .rotate-90 {
    transform: rotate(90deg);
  }

  .content img {
    width: 15em;
  }
}
